.confirmation-container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  width: 80vw;
}

.confirmation-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
}

.confirmation-header {
  color: palevioletred;
  margin-bottom: 30px;
}

.confirmation-item {
  text-align: center;
}

.confirmation-items button:hover {
  background-color: #000;
  color:palevioletred
}